@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased;
    -webkit-tap-highlight-color: transparent;
  }
  
  * {
    -webkit-tap-highlight-color: transparent;
  }
}

@layer utilities {
  .touch-manipulation {
    touch-action: manipulation;
  }
}

